body {
  box-sizing: border-box;
  position: relative;
}

header {
  text-align: center;
}

h1 {
  margin: 10px 0px;
}

.form {
  background-image: url('plate.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.input-fields {
  text-align: center;
  padding-top: 130px;
}

.add-item-button {
  background-image: url('plus.png');
  background-repeat: no-repeat;
  border: 0;
  border-radius: 20px;
  height: 50px;
  left: 40px;
  vertical-align: middle;
  width: 50px;
}

#food, #kcal, #date {
  margin: 5px 5px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(105, 146, 150, 0.7);
  height: 25px
}

#food:focus, #kcal:focus, #date:focus, .add-item-button:focus {
  outline: none;
}

.listener {
  position: fixed;
  right: 0%;
}